// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  span.credit,
  span.debit {
    font-weight: 500;
    margin-right: 0.1em;
  }

  span.credit {
    color: #39DBAC;
  }

  span.debit {
    color: #F8591A;
  }
}
