<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="/transactions">overview</a></li>
    <li><%= link_to 'add transaction', new_transaction_path %></li>
    <li><a href="#">analytics</a></li>
  </ul>
</div>
